<H2>Device: {{ device.deviceID }}</H2>
<div class="col_headers">
	<div class="row">
		<div class="col-md-1"><b>Pin</b></div>
		<div class="col-md-1"><b>Alias</b></div>
		<div class="col-md-1"><b>Type</b></div>
		<div class="col-md-1"><b>Mode</b></div>
		<div class="col-md-1"><b>Value</b></div>
	</div>
</div>
<div class="pin_configs" *ngFor='let pin of pinList'>
	<div class="row">
		<div class="col-md-1">{{pin.id}}</div>
		<div class="col-md-1">{{pin.alias}}</div>
		<div class="col-md-1">{{pin.type}}</div>
		<div class="col-md-1">{{pin.mode}}</div>
		<div class="col-md-1">{{pin.val}}</div>
	</div>
</div>
