.tachometerwidget {
	position: relative;
	width:	150px;
	height:	150px;
}
.tachometer {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 95%;
	background-image: url('http://speedhut.s3.amazonaws.com/temp/GL2-TACH-07/GL2-TACH-07_STANDARD-000000.png');
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 1;
}

.needle {
	z-index: 2;
	position: absolute;
	height: 35%;
	width: 35%;
	left: 45%;
	bottom: 50%;
	background-color: #ccf;
}

.arrow {
	height: 100%;
	width: 10%;
	font-size: 50px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	transform-style: preserve-3D;
	transition: transform 2s linear;
	transform-origin: 29% 70%;
}
.value {
	position: absolute;
	width:	100%;
	text-align: center;
	bottom: 0;
}
