.booldisplaywidget {
	display: inline-block;
}
.booldisplaywidget i {
	font-size: 24px;
	display: none;
}
.booldisplaywidget i.active {
	display: inline-block;
}

.booldisplaywidget i.bool_on {
	background-color: #ff0;
}
.booldisplaywidget i.bool_off {
	background-color: #ddd;
}
