<H2>Device: {{ name }}</H2>
<div class="device_info">
	<h4>Online: </h4>
	<app-bool-circle [state]="device.online"></app-bool-circle>
	<button class="btn btn-warning btn-xs" (click)="stopRefresh()" >Stop Refresh</button>
</div>
<div class="container">
	<div class="row item_header">
		<div class="col-md-1 col-sm-1 hidden-xs">I/O</div>
		<div class="col-md-2 col-sm-2 col-xs-4">Label</div>
		<div class="col-md-1 col-sm-1 hidden-xs">Type</div>
		<div class="col-md-1 col-sm-1 hidden-xs">Mode</div>
		<div class="col-md-1 col-sm-1 col-xs-1">Graph</div>
		<div class="col-md-3 col-sm-3 col-xs-4">State</div>
	</div>
	<div class="item_detail" *ngFor='let item of ioList'>
		<div class="row" *ngFor='let slot of item.slots'>
			<div class="col-md-1 col-sm-1 hidden-xs">{{item.io_name}}</div>
			<div class="col-md-2 col-sm-2 col-xs-4">{{slot.label}}</div>
			<div class="col-md-1 hidden-sm hidden-xs">{{item.pin_type}}</div>
			<div class="col-md-1 hidden-sm hidden-xs">{{item.mode}}</div>
			<!-- Graph? -->
			<div *ngIf="slot.streamable" class="col-md-1 col-sm-1 col-xs-1">
				<input type="checkbox"
					[checked]="selectedChartSlots[slot.id]"
	   				(change) ="toggleGraphSlot(item.io_name,slot)"
					>
			</div>
			<div *ngIf="!slot.streamable" class="col-md-1 col-sm-1 col-xs-1"></div>
			<!-- Current state -->
			<div *ngIf="slot.type == 'bool'" class="col-md-1 col-sm-1 col-xs-1">
				<app-bool-circle [state]="slot.cur_val" [color]="slot.color"></app-bool-circle>
			</div>
			<div *ngIf="slot.type == 'int' && item.mode == 'in'" class="col-md-3 col-sm-3 col-xs-5">
				<app-analog-bar
					[min]="slot.min"
					[max]="slot.max"
					[val]="slot.cur_val"
					[base_hue]="slot.hue"
					></app-analog-bar>
			</div>
			<div *ngIf="slot.type == 'int' && item.mode == 'out'" class="col-md-3 col-sm-3 col-xs-5">
				{{slot.cur_val}}
			</div>
			<div *ngIf="slot.type != 'bool' && slot.type != 'int'" class="col-md-1 col-sm-1 col-xs-1">
				{{slot.cur_val}}
			</div>
			<!-- Requested state -->
			<div *ngIf="slot.type == 'bool' && item.mode == 'out'" class="col-md-2 col-sm-2 col-xs-3">
				<app-toggle-switch
					 [div_id]="'px_'+slot.id"
					 [is_checked]="slot.req_val"
					 (toggle)="toggleRequested(item.io_name,slot.slot_name,slot.req_val)"
				></app-toggle-switch>
			</div>
		</div>
	</div>
</div>
<!-- Chart -->
<div class="container">
	<div class="row"><div class="slots_chart col-sm-10">
		<app-slots-chart
		       [chartSlots]="chartSlots"
		></app-slots-chart>
	</div></div>
</div>
