<H2>Device: {{ name }}</H2>
<div class="device_info">
	<h4>Online: </h4>
	<app-bool-icon [state]="device.online"></app-bool-icon>
</div>
<div class="container">
	<div class="pin_configs" *ngFor='let pin of pinList'>
		<div class="row">
			<div class="col-md-1 col-sm-1 hidden-xs">{{pin.id}}</div>
			<div class="col-md-2 col-sm-2 col-xs-4">{{pin.alias}}</div>
			<div class="col-md-1 hidden-sm hidden-xs">{{pin.type}}</div>
			<div class="col-md-1 hidden-sm hidden-xs">{{pin.mode}}</div>
			<!-- Current state -->
			<div *ngIf="pin.type == 'gpio'" class="col-md-1 col-sm-1 col-xs-1">
				<app-bool-icon [state]="pin.cur_val"></app-bool-icon>
			</div>
			<div *ngIf="pin.type == 'adc'" class="col-md-3 col-sm-3 col-xs-5">
				<app-analog-bar min="0" max="1024" [val]="pin.cur_val"></app-analog-bar>
			</div>
			<div *ngIf="pin.type != 'gpio' && pin.type != 'adc'" class="col-md-1 col-sm-1 col-xs-1">{{pin.cur_val}}</div>
			<!-- Requested state -->
			<div *ngIf="pin.mode == 'out'" class="col-md-2 col-sm-2 col-xs-3">
				<app-toggle-switch
					 [div_id]="'px_'+pin.id"
					 [is_checked]="pin.req_val"
					 (toggle)="toggleRequested(pin)"
				></app-toggle-switch>
			</div>
			<div *ngIf="pin.mode != 'out' && pin.type != 'adc'" class="col-md-2 col-sm-2 col-xs-3"></div>
		</div>
	</div>
	<div class="bottom_buttons visible-md visible-lg">
		<hr />
		<button class="btn btn-warning btn-xs" (click)="stopRefresh()" >Stop Refresh</button>
	</div>
</div>
